<div class="center jumbotron">
  <h1>Welcome to Microbes!</h1>
  <h2>Hooting Banana Studios Presents: Microbes!</h2>
  
</div>

<div class="row">
  <div class="col-lg-4 col-lg-offset-1 text-center">
    <h3 class="midrow">
      Browse
    </h3>
    <h2 class="midrow">
      Browse as a guest without signing in<br><br>
    </h2>
    <p><%= link_to "Browse as a Guest", microbes_path %></p>
  </div>
    <div class="col-lg-4 col-lg-offset-2  text-center">
    <h3 class="midrow">
      Sign in
    </h3>
    <h2 class="midrow">
      Sign in to your account via Google
    </h2>
    <p><%= link_to "Click here to sign in", login_path %></p>
  </div>
</div>
