<div class="center jumbotron">
  <h1>Welcome to Microbes!</h1>
  <h2>Sign in for system administration</h2>
  
</div>

<div class="row">
  <div class="col-lg-4 col-lg-offset-1 text-center">
    <h3 class="midrow">
      Just take a look around
    </h3>
    <h2 class="midrow">
      Browse as a guest and sign up later<br><br>
    </h2>
    <p>Sign in Link here</p>
  </div>
    <div class="col-lg-4 col-lg-offset-2  text-center">
    <h3 class="midrow">
      Sign in
    </h3>
    <h2 class="midrow">
      System administration etc
    </h2>
    <p>Login link here</p>
  </div>
</div>
